 <div class="padded">
 <h1>About</h1> <div class="padded">
 <h2>How to play</h2>
<p>
The object of the game is simple: kill the oponents by firing at them!<br>
 Simply navigate the map with the arrow or the WASD keys. Shoot with the spacebar.<br>
  Press T to begin typing a message and ENTER to send it.<br><br>
<img class="screenshots" src="/data/screenshot.png"></img>
</p>
<h2>Technologies
<p></p>
</div></div></div>