<!DOCTYPE html>
<head>
    <script type="text/javascript" src="../libs/jquery.js">
    </script>
    <script type="text/javascript" src="../libs/crafty.js">
    </script>
    <script type="text/javascript" src="../game/sprites.js">
    </script>
    <script type="text/javascript" src="../game/components.js">
    </script>
    <script type="text/javascript" src="../game/tankgame.js">
    </script>
    <link href="../css/gamepage.css" rel="stylesheet" type="text/css">
    <title>
        Combat: Online
    </title>

</head>
<body>
<div id ="wrapper">
    <div id="gamediv">
        <div id="cr-stage">
        </div>
    </div>
    <div id="chatdiv">
    	<div id="playerdiv">
       	Online Players
        <div id="playerDisplay">
            <ul id="playerList">
            </ul>
        </div>
        
    	Messages
        <div id="chatDisplay">
            <ul id="incomingChatMessages">
            </ul>
        </div>
        <div id="name">
            <span id="user"><%=name%></span>
            <input type="text" id="outgoingChatMessage">
        </div>

    </div>
    </div>
</div>
</body>

</html>
