 <div class="padded">
 <link href="../css/gamepage.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../libs/jquery.js">
    </script>
    <script type="text/javascript" src="../libs/crafty.js">
    </script>
    <script type="text/javascript" src="../game/sprites.js">
    </script>
    <script type="text/javascript" src="../game/components.js">
    </script>
    <script type="text/javascript" src="../game/tankgame.js">
    </script>
<input type="hidden" name="token" id ="token" value="<%= token %>"/>
<div id ="wrapper">
    <div id="spawnMsg"></div>
    <div id="gamediv">
        <div id="cr-stage">
        </div>
    </div>
    <div id="chatdiv">

      <div id="playerdiv">

            Online Players
         <div id="playerDisplay">
             <ul id="playerList">
             </ul>
        </div>
    	Messages
        <div id="chatDisplay">
            <ul id="incomingChatMessages">
            </ul>
        </div>
        <div id="name">
            <span id="user"></span>
            <input type="text" id="outgoingChatMessage" tabindex="-1">

        </div>

    </div>

    </div>
	</div>
 </div>
</div>

</div>