<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./css/general.css' />
    <script type="text/javascript" src="./libs/jquery.js"></script>
  </head>
  <body>
