<%= include header %>

<h1>Welcome to Tanks Online!</h1>
<div id="msg">
	<%= msg %>
</div>

<div id="links">
	<a href="/playgame" id="play">Play Now!</a>&nbsp;|
	<a href="/statistics" id="stats">See Statistics</a>&nbsp;|
	<a href="/logout" id="logout">Logout</a>
</div>

<%= include footer %>