<%= include header %>

<h1>Welcome to Tanks Online!</h1>

<div id="msg">
	<%= msg %>
</div>

<div align="middle">The object of the game is simple: kill the oponents by firing at them!<br>
 Simply navigate the map with the arrow or the WASD keys. Shoot with the spacebar.<br><br></div>

 <img class="screenshots" src="/data/single tank.png"></img><br><br>
  


<div id="links">
	<a href="/playgame" id="play">Play Now!</a>&nbsp;|
	<a href="/statistics" id="stats">See Statistics</a>&nbsp;|
	<a href="/logout" id="logout">Logout</a>
</div>

<%= include footer %>