<div class="padded">
<h1>Login</h1>

<form method="POST" name="myform" action="/login">
  Username: <input type="text" name="username" size = "40" maxlength="40" /> <br>
  Password: <input type="password" name="password" size="40" maxlength="40" /> <br>
  <input type="submit" name="submit" value="Login" />
</form>

<body OnLoad="document.myform.username.focus();">

<br>
<a href="/register">Or register?</a>
</div>



