<div class="padded">
<h1>Register</h1>

<form method="POST" name="myform" action="/register">
<fieldset>
<label for="name">Username:</label><input type="text" name="name" size="30" maxlength="40">
<label for="password">Password:</label><input id="pass" type="password" name="password" size="30" maxlength="40"><div id="passCheck"></div>
<label for="passwordCheck">Retype Password:</label><input id="passC" type="password" name="passwordCheck" size="30" maxlength="40"><div id="passMatch"></div>
<label for="email">Email:</label><input type="text" name="email" size="30" maxlength="70">
 <br> <input type="submit" name="submit" value="Submit" id="submitbtn">
</fieldset>

</form>

<body OnLoad="document.myform.name.focus();">

<script>

var password = $('#pass');

password.keyup('input', function(){

	if((password.val().length > 0)&&(password.val().length < 3)){
		$('#passCheck').text("weak");
		$('#passCheck').css('color', 'red');
	}
	if((password.val().length > 3)&&(password.val().length < 5)){
		$('#passCheck').text("medium");
		$('#passCheck').css('color', 'yellow');
	}

	if(password.val().length > 6){
		$('#passCheck').text("strong");
		$('#passCheck').css('color', 'green');
	}
});

var pass = $('#passC');

pass.keyup('input', function(){

	if(pass.val() === password.val()){
		$('#passMatch').text("match");
		$('#passMatch').css('color', 'green');
	}else{
		$('#passMatch').text("no match");
		$('#passMatch').css('color', 'red');
	}
});

</script>

</div>