<%= include header %>


<h1>Register - Tanks Online</h1>

<form method="POST" action="/register">
  username: <input type="text" name="name" /> <br>
  password: <input type="text" name="hash" /> <br>
  email: <input type="text" name="email" /> <br>

  <input type="submit" name="submit" value="Submit" />
</form>

<div id="msg">
  <%= msg %>
</div>

<%= include footer %>
