<%= include header %>


<h1>Register - Tanks Online</h1>

<form method="POST" action="/register">
  username: <input type="text" name="name" size="40" maxlength="40" /> <br>
  password: <input type="password" name="password" size="40" maxlength="40" /> <br>
  retype password: <input type="password" name="passwordCheck" size="40" maxlength="40" /> <br>
  email: <input type="text" name="email" size="40" maxlength="40" /> <br>
  <input type="submit" name="submit" value="Submit" />
</form>

<div id="msg">
  <%= msg %>
</div>

<%= include footer %>
