#wrapper
{
margin: 50px auto; width: 1250px;
}

#gamediv
{
	float : left; width: 800px ;
}

#playerDisplay
{
 margin-bottom: 50px; border : solid white 1px;
}

#playerList
{
list-style-type: none; margin: 4px; padding: 0; font-size:16px;
} 


#cr-stage 
{
	border: 5px outset #A9F5F2 ;
} 

#chatdiv {
float : left; width: 380px ; padding: 15px; 
}
	
#chatDisplay
{
height: 200px; overflow: auto; border : solid white 1px;
} 

#incomingChatMessages
{
list-style-type: none; margin: 4px; padding: 0; font-size:16px;
}

#outgoingChatMessage
{
width: 80%	 
}
	
#playerDispay
{
 margin-top: 58px;  padding-right: 10px;  margin-right: 10px;  margin-left: 10px;  width: 220px; color: black;
}
