body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#msg {
  color: red;
}

td, th {
  text-align: center;
}

table, th, td{
  border: 1px solid black;
}

table {
  border-collapse:collapse;
}

/* TODO: Add rule to make a 'msg' div have red font color. */