body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#msg {
  color: red;
}

td, th {
  text-align: center;
}

table, th, td{
  border: 1px solid black;
}

table {
  border-collapse:collapse;
  margin:0 auto;
}

h1 {
  text-align: center;
}

div.stats {
	text-align: center;
}

div#links{
	text-align: center;
}
/* TODO: Add rule to make a 'msg' div have red font color. */

div#passCheck{
  margin-left: 20px;
  display: inline;
  font-weight: bold;
}

div#passMatch{
  margin-left: 20px;
  display: inline;
  font-weight: bold;
}


img.screenshots {
  display: block;
  margin-right: auto;
  margin-left: auto;
}