body {
  padding-top: 4px;
  padding-left: 20px;
  font-family: 'Ubuntu', sans-serif;
   text-align: left;
   background-color:#1C1C1C; 
   color:#A9F5F2;
}


#menu{
  background-color:#0A2A0A;height:800px;width:150px;float:left;text-align:left;color:#A9F5F2
}

#menuitems{
  padding:10px; text-align:left;margin:0px
}
.padded{
  padding:20px;
}

#content{
  background-color:#1C1C1C;height:600px;width:80%;float:left;
}

#footer{
  background-color:#7FFF00;clear:both;text-align:center;height:20px;color;
}

#goodmsg {
  color: white;
  display:inline-block;
   text-align: center;
}
#badmsg {
  color: red;
  display:inline-block;
   text-align: center;
}

td, th {
  text-align: center;
}

table, th, td{
  border: 1px solid black;
}

table {
  border-collapse:collapse;
  margin:0 auto;
}

h1 {
  text-align: left;
}

div.stats {
	text-align: center;
}

div#links{
	text-align: center;
}
/* TODO: Add rule to make a 'msg' div have red font color. */

div#passCheck{
  margin-left: 20px;
  display: inline;
  font-weight: bold;
}

div#passMatch{
  margin-left: 20px;
  display: inline;
  font-weight: bold;
}


img.screenshots {
  display: block;
}

a {text-decoration:none; font-size: 25px}
a:link {color:#00FF00;}      /* unvisited link */
a:visited {color:#00FF00;}  /* visited link */
a:hover {color:#FF00FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */


label{
display:inline-block;
width:160px;
margin-right:40px;
text-align:left;
}

input{

}

fieldset{
border:none;
width:600px;
margin:20px;
}

#submitbtn{position: relative; bottom: 100%;left: 60%}